.buttonDiv {
  display: flex;
  margin: 0 auto;
  button {
    &:nth-child(1) {
      background-color: #a7a8b1;
    }
    background-color: #4856ff;
    color: white;
    border: 0px;
    margin: 10vh 10px 0 10px;
    border-radius: 30px;
    width: 10vw;
    height: 5vh;
  }
}

.logInDiv {
  height: 100vh;
  display: flex;
  .logInInput {
    width: 23%;
    height: 5%;
    margin-bottom: 13px;
    background-color: cadetblue;
    border: 0;
  }
  h1 {
    margin-bottom: 40px;
    padding: 0;
  }
  .goSignUp {
    position: relative;
    left: 9%;
  }
}

.mainImg {
  width: 60px;
  height: 60px;
}
