/* button {
  opacity: 1;
}

button.active {
  opacity: 1;
}

button.inactive {
  opacity: 0.5;
} */

.a {
  /* border: 1px solid black; */
  display: flex;
}

.b {
  font-size: 30px;
  background: #443c68;
  color: white;
  border-radius: 5px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  display: flex;
}
