.circleDiv {
  display: flex;
  flex-direction: column;
}
.testDiv {
  /* border: 1px solid black; */
  display: flex;
}

/* 방송 */
.broadcast {
  font-size: 30px;
  background: #443c68;
  color: white;
  border-radius: 5px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

/* 축하 */
.congrats {
  font-size: 30px;
  background: #e7b10a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

/* 행사 */
.event {
  font-size: 30px;
  background: #537fe7;
  color: white;
  border-radius: 5px;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}
