.button {
  color: white;
  border: 0px;
  margin: 30px 5px 0 5px;
  border-radius: 30px;
  width: 120px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: bold;
}

.cancel {
  @extend .button;
  background-color: #a7a8b1;
}

.confirm {
  @extend .button;
  background-color: #4856ff;
}
