.modalDiv {
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  width: 400px;
  background-color: white;
  padding: 2rem;
  margin: 0 auto;

  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (max-width: 768px) {
  .modal {
    width: 310px;
    height: 79vh;
  }
}

@media (max-width: 376px) {
  .modal {
    width: 270px;
    height: 79vh;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
