.buttonDiv {
  display: flex;
  margin: 0 auto;
  button {
    &:nth-child(1) {
      background-color: #a7a8b1;
    }
    background-color: #4856ff;
    color: white;
    border: 0px;
    margin: 10vh 10px 0 10px;
    border-radius: 30px;
    width: 13vw;
    height: 7vh;

    font-weight: bold;
  }
}

.logInDiv {
  height: 100vh;
  display: flex;
  .logInInput {
    width: 32%;
    height: 7%;
    margin-bottom: 13px;
    background-color: cadetblue;
    border: 0;
    font-size: 1rem;
  }
  h1 {
    margin-bottom: 40px;
    padding: 0;
    font-size: 2.5rem;
  }
  .goSignUp {
    position: relative;
    left: 12%;
    font-size: 0.8rem;
  }
  p {
    color: #bf1650;
    left: 0;
    font-size: 0.8rem;
    margin: 0;
  }
  p::before {
    display: inline;
    content: "⚠ ";
  }
  .errorMessage {
    width: 32%;
  }
}

.mainImg {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .logInDiv {
    height: 100vh;
    display: flex;
    .logInInput {
      width: 60%;
      margin-bottom: 13px;
      background-color: cadetblue;
      border: 0;
    }
    h1 {
      margin-bottom: 40px;
      padding: 0;
    }
    .goSignUp {
      position: relative;
      left: 25%;
    }

    .errorMessage {
      width: 60%;
    }
  }

  .buttonDiv {
    display: flex;
    margin: 0 auto;
    button {
      &:nth-child(1) {
        background-color: #a7a8b1;
      }
      background-color: #4856ff;
      color: white;
      border: 0px;
      margin: 10vh 10px 0 10px;
      border-radius: 30px;
      width: 20vw;
      height: 6vh;
    }
  }
}

@media (max-width: 376px) {
  .logInDiv {
    height: 100vh;
    display: flex;
    .logInInput {
      margin-bottom: 13px;
      background-color: cadetblue;
      border: 0;
    }
    h1 {
      margin-bottom: 40px;
      padding: 0;
    }
  }

  .buttonDiv {
    display: flex;
    margin: 0 auto;
    button {
      &:nth-child(1) {
        background-color: #a7a8b1;
      }
      background-color: #4856ff;
      color: white;
      border: 0px;
      margin: 10vh 10px 0 10px;
      border-radius: 30px;
      width: 20vw;
      height: 6.4vh;
    }
  }
}
