body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
}

.signUp {
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
}

.title {
  padding-top: 0;
  color: black;
}

.reportContainer {
  display: flex;
  justify-content: space-between;
  h1 {
    padding: 0;
    margin: 0;
  }
  h4 {
    color: red;
    margin: 0;
  }
}
.reportForm {
  align-items: flex-start;
  width: 100%;

  input {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
  }
  label {
    margin: 10px 0 5px 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p::before {
  display: inline;
  content: "⚠ ";
}

.typeDiv {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 4vh;
}

select {
  width: 60%;
}

.buttonDiv {
  display: flex;
  margin: 0 auto;
  width: 100%;
  button {
    &:nth-child(1) {
      background-color: #a7a8b1;
    }
    background-color: #4856ff;
    color: white;
    border: 0px;
    margin: 3vh 10px 0 10px;
    border-radius: 30px;
    width: 100%;
    height: 4vh;
  }
}

.categoryBtn {
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 57px;
  height: 25px;
  margin-right: 3px;
  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: #4856ff;
    color: white;
  }
}

.active {
  background-color: #4856ff;
  color: white;
}

.scheduleDiv {
  display: flex;

  width: 60%;
  div {
    width: 80%;
  }
  .dateInput {
    width: 14vw;
    border: 1px solid black;
  }
}

.errorMessage {
  height: 28px;
  margin: auto 0;
  p {
    left: 0;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .buttonDiv {
    width: 60%;
    button {
      border: 0px;
      margin: 3vh 10px 0 10px;
      border-radius: 30px;
      width: 100%;
      height: 5vh;
    }
  }
  .scheduleDiv {
    width: 50%;

    .dateInput {
      width: 140px;
      margin: 0;
    }
  }
}

@media (max-width: 376px) {
  .scheduleDiv {
    width: 90%;

    .dateInput {
      width: 30vw;
      margin: 0;
    }
  }
}
