.signUp {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  h2 {
    margin-left: 30px;
    font-size: 1.3rem;
  }
  p {
    color: #bf1650;
    position: relative;
    font-size: 0.2rem;
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
}

.errorMessage {
  margin: 2px;
  position: relative;
  width: 50%;
  padding: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding-top: 5vh;
  color: black;
  text-align: center;
  font-size: 1.8rem;
}

.typeDiv {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 4vh;
}

.signUp {
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 60%;
    height: 5vh;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 1px;
    font-size: 0.8rem;
  }
}

select {
  width: 60%;
  font-size: 0.4rem;
  border-radius: 4px;
  border: 1px solid black;
}

.buttonDiv {
  display: flex;
  margin: 0 auto;
  button {
    &:nth-child(1) {
      background-color: #a7a8b1;
    }
    background-color: #4856ff;
    color: white;
    border: 0px;
    margin: 30px 10px 0 10px;
    border-radius: 30px;
    width: 10vw;
    height: 5vh;

    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .typeDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 3vh;
    input {
      width: 65%;
    }
    select {
      width: 65%;
    }
  }
  .signUp {
    label {
      font-size: 0.8rem;
    }
  }

  .errorMessage {
    margin: 3px;
    position: relative;
    width: 80%;
    height: 4vh;
    p {
      margin-top: 7.2px;
    }
  }

  .buttonDiv {
    button {
      width: 120px;
      height: 40px;
    }
  }
}

@media (max-width: 376px) {
  .typeDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 3vh;
    input {
      width: 65%;
    }
    select {
      width: 65%;
    }
  }
  .signUp {
    label {
      font-size: 0.7rem;
    }
  }

  .buttonDiv {
    button {
      width: 100px;
      height: 40px;
    }
  }
}
