.sidebarWrap {
  width: 100%;
}
.navIcon {
  // margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.todaySchedule_List {
  list-style: none;
  padding: 0;
}
.todaySchedule_Item {
  box-sizing: border-box;
  background-color: #f8f8fa;
  border-radius: 20px;
  padding: 12px 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.todayTitle {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: -0.62px;
  color: white;
  margin-bottom: 30px;
}
