body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    font-size: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    div {
      // background-color: #121212;
    }
  }
}
